.container{
    width:700px;
    height: auto;
    margin:0 auto;
    border: 10px solid #83bba2;
    padding-top: 30px;
}

.first{
    position: relative;
    top: 20px;
    display: flex;
}

.first-left{
    flex: 2;
    margin-left: 30px;
}

.first-right{
    flex: 3;
    margin-right: 30px;
}

.portrait{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
}

h1{
    position: relative;
    left: 65px;
    top:-13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.first-left h4{
    color: #000;
    position: relative;
    top: -25px;
    left: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.self-introduction{
    width: auto;
    height: 180px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid #83bba2;
    border-radius: 20px;
    padding-left: 50px;
}

.info{
    font-family: cursive;
    font-size: 17px;
    width: 100%;
    height: auto;
    position: relative;
    top: 20px;
    display: flex;
    gap: 10px;
}

.info-box{
    flex: auto;
    padding-left: 30px;
}

.form{
    font-family: cursive;
    color:rgb(1 134 91);
    position: relative;
    top: 45px;
    width: 100%;
    text-align: center;
}

hr{
    border-color: rgb(131 187 162);
    position: relative;
    top: 15px;
}

.title{
    font-size: 22px;
    color: rgb(1 134 91);
    width: 100px;
    background-color: #ffffff;
    position: relative;
    top: -10px;
    margin-left: 50px;
    text-align: center;
    font-weight: bold;
}

table{
    margin:0 auto;
    border-color: rgb(131 187 162);
    font-family: cursive;
}

.second{
    position: relative;
    top: 20px;
    display: flex;
    gap: 10px;
}

.skills{
    flex: 3;
    height: 300px;
    position: relative;
    top: 90px;
    border-top-right-radius: 20px;
    border-top: 2px solid #83bba2;
    border-right: 2px solid #83bba2;

}

.skills .title{
    position: relative;
    top: -17px;
    left: -20px;
}

.skills ul{
    display: inline-block;
    font-family: cursive;
    position: relative;
    left: 5px;
}

.second-right{
    flex: 7;
    height: auto;
}

.career{
    height: 180px;
    position: relative;
    top: 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top: 2px solid #83bba2;
    border-left: 2px solid #83bba2;
    border-bottom: 2px solid #83bba2;
    display: flex;
}

.career-left{
    flex: 1;
    border-right: 2px solid #83bba2;
}

.career-right{
    flex: 1;
}

.career .title{
    position: relative;
    top: -17px;
    margin: 0 auto;
}

ol{
    padding-left: 70px;
    font-family: cursive;
}

.honor{
    height: 220px;
    position: relative;
    top: 20px;
    padding-left: 15px;
}

.honor .title{
    position: relative;
    top: -7px;
    left: -20px;
}

.honor p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    position: relative;
    top: -10px;
}